
{% extends 'base.html' %}

{% block title %} EventPlanner.com {% endblock title %}

{% load static %}

{% block link %}

<link rel="stylesheet" href="{% static 'css/home.css' %}">


{% endblock %}


{% block body %}



<div class="container m-4">
  <h3>Likes<h2>

    {% for event in events %}
    <div class="row m-3">

   <div class="col-3">
       <img src='/media/{{event.image}}' class="img-thumbnail filter-img"  alt="...">
   </div>
   <div class="col-7">
     <div class="row">
       <h4><b>{{ event.event_name }}<b><h4>
     </div>
     <div class="row">
        <h6>{{ event.time }}, {{ event.location }}</h6>
     </div>

     <div class="row">
      <h6> {{ event.data |slice:200}}</h6>
     </div>

   </div>
   <div class="col-2 m-4">

     {% if event.is_liked %}
     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" id="{{event.id}}fill" onclick="fillHeart(this)" class="heart icon-red bi bi-heart-fill" viewBox="0 0 16 16">
       <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
     </svg>
     {% else %}
     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" id="{{event.id}}border" onclick="borderHeart(this)" class="heart icon-red bi bi-heart" viewBox="0 0 16 16">
       <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
     </svg>
     {% endif %}

   </div>


    </div>
    {% endfor %}

</div>

<form method="post" action="" id='likeForm'>
    {% csrf_token %}
    <input type='hidden' id="eventId" name="eventId" value="">

  </form>


<script src="{% static 'JS/home.js' %}"></script>

{% endblock %}
